Repository ParacordChat/paracord: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "*.ts": [
      "prettier --write",
      "eslint"
    ],
    "*.tsx": [
      "eslint",
      "prettier --write"
    ],
    "*.json": "prettier --write"
}

minor changes
  src/stateManagers/downloadManagers/progressManager.ts
  src/views/RoomCreator.tsx
Due: prettier --write, eslint

fix name encryption sync bug
  src/TrysteroManagers/userManager.ts
Due: prettier --write, eslint

switch to yarn berry
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
  src/TrysteroManagers/chatManager.ts
  src/TrysteroManagers/downloadManager.ts
  src/helpers/helpers.ts
  src/stateManagers/downloadManagers/realFileManager.ts
  src/views/RoomCreator.tsx
  yarn.lock
Due: prettier --write, eslint

add yarn berry
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

update trystero
  package.json
  yarn.lock
Due: prettier --write

fix build
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: prettier --write

new lock
  yarn.lock
Due: none

change hash
  yarn.lock
Due: none

integrate distra
  .github/workflows/deploy.yml
  .gitmodules
  package.json
  src/Distra/firebase.ts
  src/Distra/helpers/b64util.ts
  src/Distra/helpers/consts.ts
  src/Distra/helpers/crypto.ts
  src/Distra/helpers/types.ts
  src/Distra/helpers/utils.ts
  src/Distra/index.ts
  src/Distra/roomManagement/exitPeer.ts
  src/Distra/roomManagement/handleData.ts
  src/Distra/roomManagement/makeAction.ts
  src/Distra/roomManagement/room.ts
  src/Distra/roomManagement/stateManager.ts
  src/Distra/simple-peer-light.d.ts
  src/Distra/torrent.ts
  src/DistraManagers/callManager.ts
  src/DistraManagers/chatManager.ts
  src/DistraManagers/downloadManager.ts
  src/DistraManagers/userManager.ts
  src/MainModal.tsx
  src/helpers/roomConfig.ts
  src/stateManagers/userManagers/personaStore.ts
  src/views/CallView.tsx
  src/views/ChatView.tsx
  src/views/DownloadView.tsx
  src/views/PasswordModal.tsx
  src/views/UserView.tsx
  src/views/messages.tsx
  yarn.lock
Due: prettier --write, eslint

change libname
  src/Distra/helpers/utils.ts
Due: prettier --write, eslint

shorten ids
  src/DistraManagers/chatManager.ts
  src/DistraManagers/downloadManager.ts
  src/helpers/helpers.ts
  src/stateManagers/downloadManagers/realFileManager.ts
  src/views/RoomCreator.tsx
Due: prettier --write, eslint

remove file on peer leave
  src/Distra/roomManagement/room.ts
  src/DistraManagers/downloadManager.ts
  src/DistraManagers/userManager.ts
  src/stateManagers/downloadManagers/progressManager.ts
Due: prettier --write, eslint

remove repeat
  .lintstagedrc.json
Due: prettier --write

style shift
  src/App.tsx
  src/Distra/firebase.ts
  src/Distra/helpers/b64util.ts
  src/Distra/helpers/utils.ts
  src/Distra/index.ts
  src/Distra/roomManagement/handleData.ts
  src/Distra/roomManagement/makeAction.ts
  src/Distra/roomManagement/room.ts
  src/Distra/roomManagement/stateManager.ts
  src/Distra/torrent.ts
  src/DistraManagers/callManager.ts
  src/DistraManagers/chatManager.ts
  src/DistraManagers/downloadManager.ts
  src/DistraManagers/userManager.ts
  src/helpers/helpers.ts
  src/main.tsx
  src/stateManagers/RTCManagers/personalCallPrefs.ts
  src/stateManagers/downloadManagers/progressManager.ts
  src/stateManagers/downloadManagers/realFileManager.ts
  src/stateManagers/messageStore.ts
  src/stateManagers/userManagers/clientSideUserTraits.ts
  src/stateManagers/userManagers/userStore.ts
  src/views/CallView.tsx
  src/views/ChatView.tsx
  src/views/DownloadView.tsx
  src/views/PasswordModal.tsx
  src/views/RoomCard.tsx
  src/views/RoomCreator.tsx
  src/views/SettingsView.tsx
  src/views/UserView.tsx
  src/views/helpers/RenderMessage.tsx
  src/views/helpers/StreamPlayer.tsx
  src/views/messages.tsx
Due: prettier --write, eslint

icon seo
  index.html
Due: none

switch to pnpm
  .github/workflows/deploy.yml
  .gitignore
  .husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

alter deploy
  .github/workflows/deploy.yml
Due: none

add pnpm pipeline
  .github/workflows/deploy.yml
Due: none

minify sw
  sw-appended.js
Due: none

fix stun/turn
  src/helpers/roomConfig.ts
Due: prettier --write, eslint

Revert "fix stun/turn"
  src/helpers/roomConfig.ts
Due: prettier --write, eslint

restructuring codebase
  package.json
  pnpm-lock.yaml
  src/Distra/helpers/consts.ts
  src/Distra/index.ts
  src/Distra/roomManagement/exitPeer.ts
  src/Distra/roomManagement/handleData.ts
  src/Distra/roomManagement/makeAction.ts
  src/Distra/roomManagement/room.ts
  src/Distra/roomManagement/state/hookState.ts
  src/Distra/roomManagement/state/roomSignalManager.ts
  src/Distra/roomManagement/state/stateManager.ts
  src/Distra/roomManagement/stateManager.ts
  src/Distra/strategies/firebase.ts
  src/Distra/strategies/torrent.ts
  src/DistraManagers/chatManager.ts
  src/DistraManagers/downloadManager.ts
  src/helpers/consts/consts.ts
  src/helpers/consts/roomConfig.ts
  src/helpers/cryptography/crypto.ts
  src/helpers/cryptography/cryptoSuite.ts
  src/helpers/dataHandling/b64util.ts
  src/helpers/helpers.ts
  src/helpers/roomConfig.ts
  src/helpers/types/distraTypes.ts
  src/helpers/types/types.ts
  src/helpers/utils.ts
  src/simple-peer-light.d.ts
  src/stateManagers/downloadManagers/progressManager.ts
  src/stateManagers/downloadManagers/requestManager.ts
  src/stateManagers/messageStore.ts
  src/stateManagers/userManagers/personaStore.ts
  src/stateManagers/userManagers/userStore.ts
  src/views/PasswordModal.tsx
  src/views/helpers/RenderMessage.tsx
  src/views/messages.tsx
Due: prettier --write, eslint

move css global
  index.html
  src/assets/globals.css
  src/main.tsx
  src/views/PasswordModal.tsx
Due: prettier --write, eslint

minor winnowing
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/views/RoomCard.tsx
  src/views/helpers/GenericHeader.tsx
Due: prettier --write, eslint

remove exterior uploader
  index.html
  package.json
  pnpm-lock.yaml
  src/DistraManagers/downloadManager.ts
  src/main.tsx
  src/views/DownloadView.tsx
  src/views/helpers/FileUploader.tsx
  src/views/styles/fileUpload.css
  src/views/styles/globals.css
Due: prettier --write, eslint

minor fixes
  .gitignore
  .vscode/settings.json
  src/views/ChatView.tsx
Due: prettier --write, eslint

rname
  src/views/Messages.tsx
Due: prettier --write, eslint

minor simplifications
  package.json
  pnpm-lock.yaml
  src/Distra/roomManagement/handleData.ts
  src/Distra/roomManagement/makeAction.ts
  src/Distra/strategies/torrent.ts
  src/DistraManagers/chatManager.ts
  src/DistraManagers/downloadManager.ts
  src/helpers/cryptography/crypto.ts
  src/helpers/cryptography/cryptoSuite.ts
  src/helpers/dataHandling/uint8util.ts
  src/helpers/helpers.ts
  src/helpers/utils.ts
  src/stateManagers/downloadManagers/realFileManager.ts
  src/views/RoomCreator.tsx
  src/views/UserView.tsx
Due: prettier --write, eslint

added ack system
  src/DistraManagers/downloadManager.ts
  src/helpers/types/types.ts
Due: prettier --write, eslint

add attempt resume
  src/DistraManagers/downloadManager.ts
  src/helpers/types/types.ts
  src/views/DownloadView.tsx
Due: prettier --write, eslint

remove comments
  src/DistraManagers/downloadManager.ts
Due: prettier --write, eslint

clean todos, minor fixes
  src/Distra/strategies/torrent.ts
  src/DistraManagers/userManager.ts
  src/helpers/dataHandling/b64util.ts
  src/helpers/types/distraTypes.ts
  src/views/CallView.tsx
  src/views/ChatView.tsx
  src/views/Messages.tsx
  src/views/helpers/StreamPlayer.tsx
Due: prettier --write, eslint

add gitinfo
  src/views/RoomCreator.tsx
  vite.config.ts
Due: prettier --write, eslint

move helpers
  src/helpers/components/Collapsible.tsx
  src/helpers/components/FileUploader.tsx
  src/helpers/components/GenericHeader.tsx
  src/helpers/components/MuteUserButton.tsx
  src/helpers/components/RenderMessage.tsx
  src/helpers/components/StreamPlayer.tsx
  src/views/About.tsx
  src/views/CallView.tsx
  src/views/DownloadView.tsx
  src/views/Messages.tsx
  src/views/PasswordModal.tsx
  src/views/RoomCreator.tsx
  src/views/UserView.tsx
Due: prettier --write, eslint

add shippable mobile compatibility
  src/MainModal.tsx
  src/helpers/components/FileUploader.tsx
  src/helpers/components/MuteUserButton.tsx
  src/helpers/components/StreamPlayer.tsx
  src/views/CallView.tsx
  src/views/ChatView.tsx
  src/views/DownloadView.tsx
  src/views/Messages.tsx
  src/views/RoomCard.tsx
  src/views/UserView.tsx
  src/views/styles/globals.css
Due: prettier --write, eslint

fix gh version
  .github/workflows/deploy.yml
  vite.config.ts
Due: prettier --write, eslint

fix some rtc errors
  src/Distra/roomManagement/room.ts
  src/DistraManagers/callManager.ts
  src/helpers/types/distraTypes.ts
  src/helpers/utils.ts
  src/views/CallView.tsx
Due: prettier --write, eslint
